* {
    box-sizing: border-box;
}

.modalBackground {
    position: fixed;
    top: 4.5rem;
    transform: translate(7%, 0px);
    height: 75vh;
    width: 85vw;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 2rem;
    border: 1px solid rgb(255, 229, 196);
    background-image: linear-gradient(white, rgb(255, 228, 196));
    box-shadow: 0 0px 100px 100px rgba(255, 250, 194, .5);
    animation: fadeModalIn .25s ease-out forwards;
}

@keyframes fadeModalIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.modalBorder {
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 0 rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.modalCloseButton {
    position: fixed;
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    /* border: 1px solid salmon; */
    cursor: pointer;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    color: orangered;
    font-size: 1rem;
}

.modalBorder img {
    position: sticky;
    width: 50%;
    border-radius: 2rem;
}

.boxName {
    /* flex: auto; */
    /* border: 1px solid red; */
    color: #02b4be;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
}

.boxDesc {
    color: rgb(0, 103, 119);
    font-size: 1rem;
    font-style: italic;
}

.boxPrice {
    color: rgb(90, 0, 0);
    font-size: 1rem;
}
