.modalBackground {
    position: fixed;
    /* keeps modal centered on viewport size change */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*  */
    height: auto;
    /* width: 30rem; */
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: 1px solid rgb(255, 229, 196);
    background-image: linear-gradient(white, white, rgb(255, 228, 196));
    box-shadow: 0 0px 50px 25px rgba(140, 140, 140, 0.5);
    animation: fadeModalIn 0.5s ease-out forwards;
}

@keyframes fadeModalIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modalBorder {
    /* border: 1px solid black; */
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.modalBorder img {
    height: 100%;
    border: 0.5rem solid rgb(254, 245, 233);
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.modalCloseButton {
    position: fixed;
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem 0.3rem;
    border-radius: 50%;
    /* border: 1px solid salmon; */
    cursor: pointer;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: bolder;
    transition: all 0.25s ease-in-out;
}

.modalCloseButton:hover {
    background-color: #000000;
    transition: all 0.25s ease-in-out;
}

.modalCloseButtonLeftLine,
.modalCloseButtonRightLine {
    width: 1.5rem;
    height: 1px;
    background-color: rgb(255, 98, 0);
}

.modalCloseButtonLeftLine {
    transform: rotate(45deg) translate(1px, 1px);
}

.modalCloseButtonRightLine {
    transform: rotate(-45deg);
}

.boxDetails {
    margin-bottom: 0rem;
}

.boxText {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.75rem;
    width: auto;
    flex: 1;
}

.boxName {
    /* border: 1px solid red; */
    color: #02b4be;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
}

.boxDesc {
    color: rgb(0, 103, 119);
    font-size: 1rem;
    font-weight: bold;
}


.boxPrice {
    color: rgb(255, 98, 0);
    font-size: 1rem;
}

.koanaOutline {
    width: 1rem;
}

@media screen and (min-width: 751px) {
    .modalBackground {
        left: 50%;
        width: 45rem;
        height: 25rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    .modalBorder {
        /* border:1px solid green; */
        flex-flow: row nowrap;
        margin: 0.5rem 0.5rem;
    }

    .modalBorder img {
        width: 50%;
        height: 100%;
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }

    .modalCloseButton {
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    .boxDetails {
        display: flex;
        width: 100%;
        /* border:1px solid red; */
        flex-flow: column nowrap;
        justify-content: flex-end;
        height: 100%;
        /* padding-top: 3rem; */
    }

    .boxText {
        /* border:1px solid black; */
        width: 16rem;
        flex: 1;
    }
}

@media screen and (max-width: 750px) {
    .modalBackground {
        left: 50%;
        width: 20rem;
    }

    .boxName {
        /* border: 1px solid red; */
        color: #02b4be;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.25rem;
    }

    .boxDesc {
        color: rgb(0, 103, 119);
        font-size: 0.65rem;
    }

}
