.formContent {
    /* border: 1px solid blue; */
    display: flex;
    flex-flow: column nowrap;
}

.quantityLabel {
    color: rgb(113, 113, 113);
    font-size: 0.6rem;
    margin-bottom: .2rem;
}

.quantityContainer {
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row nowrap;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.increment {
    border: 1px solid rgb(255, 98, 0);
    border-bottom-left-radius: 1.3rem;
    width: 4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.increment:hover {
    background-color: rgb(253, 203, 142);
    transition: all 0.2s ease-in-out;
}

.increment:active {
    background-color: yellow;
}

.plusHorizontal {
    width: 1.5rem;
    height: 1px;
    background-color: rgb(255, 98, 0);
    transform: translate(1.2rem, 1.2rem);
}

.plusVertical {
    width: 1.5rem;
    height: 1px;
    background-color: rgb(255, 98, 0);
    transform: rotate(90deg) translate(1.1rem, -1.15rem);
}

.decrement {
    border: 1px solid rgb(255, 98, 0);
    border-top-right-radius: 1.3rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.decrement:hover {
    background-color: rgb(253, 203, 142);
    transition: all 0.2s ease-in-out;
}

.decrement:active {
    background-color: yellow;
}

.minus {
    width: 1.5rem;
    height: 1px;
    background-color: rgb(255, 98, 0);
}

.quantityWindow {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color:rgb(255, 247, 237);
    color: rgb(113, 113, 113);
    border-top: 1px solid rgb(255, 98, 0);
    border-bottom: 1px solid rgb(255, 98, 0);
}

.submitButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    transition: all 0.2s ease-in-out;
    font-size: 0.75rem;
    color: rgb(113, 113, 113);
    border: 1px solid rgb(255, 98, 0);
    border-bottom-left-radius: 1.4rem;
    border-top-right-radius: 1.4rem;
    
}

@media screen and (max-width: 750px) {

    .formContent {
        /* border: 1px solid blue; */
        margin-top: .5rem;
        display: flex;
        flex-flow: column nowrap;
    }

    .submitButton {
        border-top-right-radius: 1.3rem;
    }
}

.submitButton:hover {
    background-color: rgb(253, 203, 142);
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

.submitButton:active {
    background-color: yellow;
}

.submitButton:hover.Zero {
    background-color: black;
    color: rgb(255, 98, 0);
    font-weight: bold;
}

.submitButton:active.Zero {
    background-color: yellow;
}
