.cartBadgeContainer {
    position: absolute;
    transform: translate(-10px, -10px);
    border: 1px solid black;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: yellow;
    color: black;
    font-size: 75%;
    font-weight: bold;
    box-shadow: 0 1px .5px .5px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}