.aboutBackground {
    min-height: 100vh;
    height: auto;
    background-image: linear-gradient(to right, rgb(15, 15, 15), rgb(0, 0, 0));
}

.videoTextContainer {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: space-between;
    gap: 1rem;
}

.videoContainer video {
    position: fixed;
    margin-top: -3rem;
    width: 20rem;
    height: 100%;
    border-top-right-radius: 3rem;
    object-fit: cover;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        left: -20rem;
    }
    100% {
        opacity: 0.75;
        left: 0rem;
    }
}

.textContent,
h2,
h4 {
    color: white;
}

.header {
    text-transform: uppercase;
    letter-spacing: .1rem;;
}

.textContent {
    max-width: auto;
    position: relative;
    margin-top: 3.5rem;
    padding-bottom: 1rem;
    padding-left: 21rem;
    padding-right: 1rem;
    color: rgb(200, 200, 200);
    font-size: 1.25rem;
    line-height: 2.5rem;
    animation: fadeInText 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lineHeight {
    line-height: 1.65rem;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 755px) {
    /* .videoTextContainer {
        background-color: black;
        flex-direction: column;
        height: 100vh;
    } */

    .videoContainer video {
        position:initial;
        height: 50%;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }
    .videoContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 7rem;
        margin-bottom: 2rem;
    }

    .textContent {
        position: relative;
        margin-top: 0rem;
        padding-left: 1rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
        background-color: black;
        color: rgb(200, 200, 200);
        text-align: center;
        font-size: 1.25rem;
        line-height: 2.5rem;
        height: 50%;
        overflow-y: scroll;
    }
    .textContent::-webkit-scrollbar {
        width: 1rem;
    }

    .textContent::-webkit-scrollbar-thumb {
        background-color: rgba(254, 251, 4, 1);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: all 0.3s ease;
    }

    /* Works on Firefox */
    .cartScrollWrapper {
        scrollbar-width: thick;
        scrollbar-color: rgba(254, 251, 4, 1) rgba(0, 0, 0, 0);
    }
}
