.navFloat {
    position: fixed;
    padding-top: 0.5rem;
    width: 100%;
    /* background-color: white; */
    color: rgb(135, 135, 135);
    margin-top: none;
    margin-top: -0.5rem;
    z-index: 1;
}

@media screen and (max-width: 577px) {
    .regularNavContainer {
        display: none;
    }

    .regularKoanaIcon img {
        display: none;
    }
}

@media screen and (min-width: 577px) {
    .regularNavContainer {
        /* border: 1px solid black; */
        z-index: 1;
        display: flex;
        align-items: center;
        height: 3rem;
        width: 96vw;
        gap: 1rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
        opacity: 1;
        animation: opacity-regular 2s forwards;
    }

    @keyframes opacity-regular {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .regularNavItems {
        flex: 0;
        display: flex;
        height: 100%;
        align-items: center;
        gap: 1rem;
    }

    .regularKoanaIcon {
        display: flex;
        flex: 1;
        height: 100%;
        align-items: center;
    }

    .regularKoanaIcon img {
        height: 75%;
        transition: all 0.2s ease-in-out;
    }

    .regularKoanaIcon img:hover {
        margin-top: 4rem;
        height: 200%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .regularTradNavItems {
        letter-spacing: 0.2rem;
        /* padding-left: 0.3rem; */
        font-size: 0.75rem;
        /* text-align: right; */
        cursor: pointer;
    }

    .regularTradNavItems:hover {
        font-weight: bold;
    }
}

.cartBadgeOverLap {
    display: flex;
    padding-right: 5rem;
    position: fixed;
    z-index: 2;
}

.badgeFiller {
    flex: 1;
}
