.container {
  width: 100%;
  padding-top: 1rem;
  color: white;
  // border: 1px solid red;
  @media (min-width: 881px) {
    padding-top: 0rem;
  }
}
.mapContainer,
.contentContainer {
  // position: relative;
  width: auto;
  // height: 100%;
  display: flex;
  font-size: 1rem;
  text-transform: none;

  // align-items: left;
}

.mapContainer {
  justify-content: left;
  min-height: 20em;
  max-width: 20em;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  overflow: hidden;
}

.contentContainer {
  min-height: 20em;
  padding: 1em;
  @media (min-width: 500px) {
    padding: 0em;
  }
}

.map {
  // position: absolute;
  aspect-ratio: 1/1;
  height: 20em;
  min-height: 20em;

}
// .content {
//   // height: 23em;
//   display: flex;
//   flex-direction: column;
//   // gap: 1em;
//   @media (min-width: 913px) {
//     // height: 20em;
//   }
// }

.title,
.jumboTitle {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.jumboTitle {
  font-size: 2em;
}

.detailsContainer {
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-transform: uppercase;
}

.address {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  &:hover {
    cursor: pointer;
  }
}

.address p{
  line-height: 1.5rem;
}

.phoneNumber {
  a {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: white;
    gap: 0.5em;
    // margin-top: 1rem;
    line-height: 1.5rem;
  }
}

.circleBtn {
  border: 1px solid white;
  padding: 0.25em;
  border-radius: 100%;
}
.submit {
  width: 10em;
  border: 2px solid white;
  color: white;
  padding: 0.25em;
  font-weight: bold;
  background-color: transparent;
  border-radius: 0.25em;
}

.message {
  margin-top: 1rem;
  text-transform: uppercase;
  line-height: 1.5rem;
}