.aboutBackground {
  min-height: 100vh;
  height: auto;
  background-image: linear-gradient(to right, rgb(15, 15, 15), rgb(0, 0, 0));
}

.videoTextContainer {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: space-between;
  gap: 1rem;
}

.videoContainer video {
  position: fixed;
  margin-top: -3rem;
  width: 20rem;
  height: 100%;
  border-top-right-radius: 3rem;
  object-fit: cover;
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: -20rem;
  }
  100% {
    opacity: 0.75;
    left: 0rem;
  }
}
//map component
.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 1rem;
  width: 100%;
  padding-top: 1rem;
  color: white;
  // border: 1px solid red;
  @media (min-width: 881px) {
    padding-top: 0rem;
  }
}
.mapContainer,
.contentContainer {
  // position: relative;
  width: auto;
  // height: 100%;
  display: flex;
  font-size: 1rem;
  text-transform: none;

  // align-items: left;
}

.mapContainer {
  justify-content: center;
  min-height: 20em;
  max-width: 20em;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  overflow: hidden;
}

.contentContainer {
  min-height: 20em;
  padding: 1em;
  @media (min-width: 500px) {
    padding: 0em;
  }
}

.map {
  // position: absolute;
  aspect-ratio: 1/1;
  height: 20em;
  min-height: 20em;
}
// .content {
//   // height: 23em;
//   display: flex;
//   flex-direction: column;
//   // gap: 1em;
//   @media (min-width: 913px) {
//     // height: 20em;
//   }
// }

//header component
.header {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.textContent {
  max-width: auto;
  position: relative;
  margin-top: 3.5rem;
  padding-bottom: 1rem;
  padding-left: 21rem;
  padding-right: 1rem;
  color: rgb(200, 200, 200);
  font-size: 1.25rem;
  line-height: 2.5rem;
  animation: fadeInText 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lineHeight {
  line-height: 1.65rem;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 755px) {
  /* .videoTextContainer {
      background-color: black;
      flex-direction: column;
      height: 100vh;
  } */

  .videoContainer video {
    position: initial;
    height: 50%;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  .videoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 2rem;
  }

  .textContent {
    position: relative;
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    background-color: black;
    color: rgb(200, 200, 200);
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.5rem;
    height: 50%;
    overflow-y: scroll;
  }
  .textContent::-webkit-scrollbar {
    width: 1rem;
  }

  .textContent::-webkit-scrollbar-thumb {
    background-color: rgba(254, 251, 4, 1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 0.3s ease;
  }

  /* Works on Firefox */
  .cartScrollWrapper {
    scrollbar-width: thick;
    scrollbar-color: rgba(254, 251, 4, 1) rgba(0, 0, 0, 0);
  }
}

//location component
.title,
.jumboTitle {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.jumboTitle {
  font-size: 2em;
}

.detailsContainer {
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-transform: uppercase;
}

.address {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  &:hover {
    cursor: pointer;
  }
}

.address p {
  line-height: 1.5rem;
}

.phoneNumber {
  a {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: white;
    gap: 0.5em;
    // margin-top: 1rem;
    line-height: 1.5rem;
  }
}

.circleBtn {
  border: 1px solid white;
  padding: 0.25em;
  border-radius: 100%;
}
.submit {
  width: 10em;
  border: 2px solid white;
  color: white;
  padding: 0.25em;
  font-weight: bold;
  background-color: transparent;
  border-radius: 0.25em;
}

.message {
  margin-top: 1rem;
  text-transform: uppercase;
  line-height: 1.5rem;
}

@media (max-width: 755px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address {
    display: block;
  }

  .phoneNumber {
    a {
      display: block;
    }
  }
}
