@use "../../variables.scss";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.hero {
  position: relative;
  aspect-ratio: 4/3;
  width: 100%;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/interior_shop.jpg");
  @media (min-width: 1160px) {
    background-size: cover;
    height: 100vh;
  }
}

.heroWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: white;
}

.heroContent {
  width: 60%;
  height: 33%;
}

.featured {
  position: relative;
  width: 100%;
  background-color: aliceblue;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.featuredContainer,
.header {
  max-width: 63rem;
  margin: 2em auto;
}

.featuredContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  color: #444;
}
.featuredWrapper {
  width: 100%;
  background-color: black;
  color: white;
}
.featuredSet {
  margin: 0.5em auto;
  display: grid;
  width: 95%;
  min-width: 20rem;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.gallery {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s;
  opacity: 0;
}

.featured_img {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  img {
    position: absolute;
    width: 100%;
    border-radius: 2rem;
  }
}

.itemDesc {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  left: 0px;
  top: 0px;
  bottom: 10%;
  border-radius: 2rem;
  margin: 0 auto;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
  letter-spacing: 0.25rem;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.781);
  transition: 0.25s;

  &:hover {
    opacity: 1;
  }
}

.itemDesc_content {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.featuredSet:nth-child(1) {
  .gallery {
    transform: translateX(-150%);
  }
  .gallery:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.featuredSet:nth-child(2) {
  .gallery {
    transform: translateX(150%);
  }
  .gallery:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.gallery {
  transition: 1s;
}

.location {
  position: relative;
  width: 100%;
  height: 30em;
}
.map {
  position: absolute;
  aspect-ratio: 1/1;
  height: 20em;
  min-height: 20em;
}
