.carousel {
  height: 15em;
  width: 15em;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-image: linear-gradient(
    goldenrod,
    orangeRed,
    red,
    purple,
    midnightBlue
  );
}

.imgContainer {
  width: 15em;
  height: 15em;
}

.img {
  width: 100%;
  height: 100%;
}
