* {
  box-sizing: border-box;
  margin: none;
  padding: none;
  font-family: Arial, Helvetica, sans-serif;
}

.test1 {
  color:darkred;
  font-weight: 900;
  font-size: 25rem;
  line-height: 18rem;
  text-align: right;
}

.test2 {
  color:rgb(192, 112, 0);
}
